#-------------------------
# Python / FastAPI backend
#-------------------------

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.idea/
# Environment variables
.env

#MacOS files
.DS_Store
